body{
    background-image: url(../battleship-assets/pozadina.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white !important;
}
#igraci_forma{
    text-align: center;
}

#pravila_igre{
    padding-left: 20px;
}
#pravila_igre p{
    padding-left: 30px;
    text-align: justify;
}

.tablaSetup{
    text-align: center;
    color: black;
}

.tablaSetup td{
    width: 30px;
    height: 30px;
}

.naslovSetup{
    text-align: center;
    margin: 40px;
    font-size: 30px;
}

.tablaSetup{
    background-color: white !important;
    width: 400px;
    height: 400px;
}

#dgmZavrsio{
    text-align: center;
}



.divPrBrodova table{
    width: 70%;
}

#objBoja table{
    width: 70%;
}

.prBrodova img{
    height: 30px;
}
#gameTable{
    text-align: center;
}
#gameTable table{
    background-color: white !important;
    border: 1px solid #000000;
    width: 400px;
    height: 400px;
}

#tablaIgrac1{
    float: left;
}
#tablaIgrac2{
    float: left;
}