{% extends 'kviz/full.html' %}


{% block content %}



{% if question %}
   <h1>{{ question.question_text }}({{ question_number }}/{{ total_number }})</h1>


    {% if question_number < total_number %}
        <form action="{% url 'kviz:kviz'%}" method="post">
    {% else %}
        <form action="{% url 'kviz:result'%}" method="post">
    {% endif %}

    {% csrf_token %}
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    {% endfor %}

    {% if question_number < total_number %}
        <input class="btn btn-primary" type="submit" value="Dalje">
    {% else %}
        <input class="btn btn-primary" type="submit" value="Rezultat">
    {% endif %}

    </form>

    {% if error %}<p class="alert alert-danger" role="alert"><strong>{{ error }}</strong></p>{% endif %}

{% else %}
    <p>Nema pitanja.</p>
{% endif %}


{% endblock %}
